
.section {
    max-width: 1100px;
    margin: 0 auto;
    height: 600px;
}
.row-1{
    display: grid;
    grid-template-columns: 500px 500px;
    justify-content: space-around;
}

.col-1{
    margin: 15px 10px;
    padding: 30px;
   
 }

 .title h1{
    font-size: 30px;
    font-weight: 400;
}

.title span{
    font-size: 20px;
    font-weight: 400;
}

.title a{
    font-size: 20px;
    text-decoration: none;
    color:rgb(0, 96, 153);
    font-weight: 400;
}

.signupForm{
    padding: 10px;
    /* display: inline-block; */
}
.signupForm input[type=email], input[type=password]{
    display: block;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 10px;
    outline: none;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    font-size: 16px;
}

.input-1{
    margin-bottom: 30px;
}

.input-1 label{
    color: rgb(40, 40, 39)
}

.input-2{
    margin-bottom: 20px;
}

.input-2 label{
    color: rgb(40, 40, 39)
}

.formfooter{
    text-align: center;
    color: rgb(40, 40, 39)
}

.formfooter a{
    text-decoration: none;
    color:rgb(0, 96, 153);
}

.btn{
    margin-top: 20px;
    margin-bottom: 40px;
     display: block;
     width: 100%;
     padding: 10px 20px;
     cursor: pointer;
     background-color: #FC5647;
     color: white;
     font-size: 20px;
     font-weight: 600;
     border: none;
     border-radius: 10px;
     min-width: 100%;
     box-sizing: border-box;
 
 }

 .btn:focus{
    outline: none;
}

.login a{
    font-size: 14px;
}

.login span{
    font-weight: 900;
}

.col-2{
    border-left: 1px solid #FAFAFA;
    margin: 15px 0;
    padding: 30px;
}

.title-2 h1{
    color: #FF6153;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
}
.list p{
    list-style-type: none;
    padding: 10px;
    font-size: 20px;
    margin-left: 0;
    margin-right: 0;
    color: rgb(40, 40, 39)
}

.fa-check-circle{
    padding: 0px 5px;
    color:#FF6153;
}

.footer{
    margin-top: 20px;
    height: 100px;
    background-color:#FAFAFA;
    width: 100%;
    color: rgb(40, 40, 39)
}

.content{
    display: flex;
    width: 1150px;
    margin: 0 auto;
    padding: 30px;
    align-items: center;
}

.content a {
    text-decoration: none;
    font-weight: 500;
    color: black;
    padding: 5px;
}

.content a:hover{
    text-decoration: underline;

}
@media (max-width: 737px)
{
    .row-1{
        display: flex;
        /* grid-template-columns: 500px 500px;
        justify-content: space-around; */
    }

    .col-2{
        display: none;
    }

    .content{
        display: block;
        width: 90%;
        margin: 0 auto;
        padding: 10px;
        align-items: center;
        line-height: 1.5;
        font-size: 15px;
    }

}